In [ ]:
import pandas as pd
import numpy as np
import glob
from datetime import datetime
import os

import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#!ls /usr/local/lib/python3.7/dist-packages/demographer/

ls: cannot access '/usr/local/lib/python3.7/dist-packages/demographer/': No such file or directory

In [ ]:
!pip install demographer

#!pip install tensorflow==1.13.1

!pip install tensorflow

import json
import pandas as pd
import numpy as np
from demographer import process_tweet
#from google.colab import drive
from scipy.stats import mode

#drive.mount('/content/drive')

# Commented out IPython magic to ensure Python compatibility.
!ls
# %cd /

# Commented out IPython magic to ensure Python compatibility.
# %cd /
# %cd content/drive/MyDrive

from demographer.indorg_neural import NeuralOrganizationDemographer
from demographer.indorg import IndividualOrgDemographer

Requirement already satisfied: demographer in /usr/local/lib/python3.7/dist-packages (1.0.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from demographer) (1.21.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from demographer) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->demographer) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->demographer) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->demographer) (3.1.0)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (1.13.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.44.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: absl-py>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: tensorboard<1.14.0,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.13.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.8.1)
Requirement already satisfied: tensorflow-estimator<1.14.0rc0,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.13.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.5)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from keras-applications>=1.0.6->tensorflow) (3.1.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (3.3.6)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (1.0.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<1.14.0,>=1.13.0->tensorflow) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.14.0,>=1.13.0->tensorflow) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.14.0,>=1.13.0->tensorflow) (3.10.0.2)
Requirement already satisfied: mock>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (4.0.3)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->keras-applications>=1.0.6->tensorflow) (1.5.2)
drive  sample_data

In [ ]:
demographer_list = [
        IndividualOrgDemographer(setup='balanced'),
        NeuralOrganizationDemographer(setup='balanced'),
        IndividualOrgDemographer(setup='full'),
        NeuralOrganizationDemographer(setup='full')
        
    ]

required_cols = ['friends_count', 'followers_count', 'listed_count', 'statuses_count', 'description', 'verified', 'created_at', 'name', 'screen_name']

cols_in_hydrated = []

for col in required_cols:
  cols_in_hydrated.append('user_' + col)

date1 = '2022-01-21'
date2 = '2022-01-31'

#date1 = datetime.datetime.strptime('12012021', '%m%d%Y')
#date2 = datetime.datetime.strptime('12022021', '%m%d%Y')

mydates = pd.date_range(date1, date2, freq='d')#.tolist()
print(mydates)
for d in pd.date_range(date1, date2, freq='d'):
  d_str = d.strftime("%m%d%Y")
  print(d_str)
  path = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/OutputFiles/tweet_" + d_str + ".csv"

  df = pd.read_csv(path, engine='python')
  df_sub = df[cols_in_hydrated]
  df_sub.columns = required_cols

  for col in df_sub.columns:
    if df_sub[col].dtype=='object':
      df_sub[col] = df_sub[col].fillna('')
    else:
      df_sub[col] = df_sub[col].fillna(0)
      
  def ind_org_classify(tweet):
    result = process_tweet(tweet, demographer_list)
    demo_list = ['indorg_balanced', 'indorg_full', 'indorg_neural_balanced', 'indorg_neural_full']
    output = []
    for demo in demo_list:
      output.append(result.get(demo).get('value'))
    return mode(output)[0][0]

  # result.get('indorg_balanced').get('value')
  tweet_list = df_sub.to_dict(orient='records')
  # tweet_list = df_sub.head(2000).to_dict(orient='records')
  #result = map(ind_org_classify, tweet_list)

  #df_sub.head(2000)['ind_org'] = list(result)

  df_new = df

  df_new['ind_org'] = list(map(ind_org_classify, tweet_list))

  tweet_list
  print(df_new.shape)
  df_new[cols_in_hydrated + ['ind_org']]

  print(df_new['ind_org'].value_counts())

  df_ind = df_new[df_new['ind_org']== 'ind']

  path2 = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/IndivFiles"

  #os.makedirs(path, exist_ok=False)
  isExist = os.path.exists(path2)
  if not isExist:
  
    # Create a new directory because it does not exist 
    os.makedirs(path2)
    print("The new directory is created!")
  dest_path = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/IndivFiles/df_ind_" + d_str + ".csv"
  df_ind.to_csv(dest_path)

INFO:tensorflow:Restoring parameters from /usr/local/lib/python3.7/dist-packages/demographer/models/indorg_neural/balanced
INFO:tensorflow:Restoring parameters from /usr/local/lib/python3.7/dist-packages/demographer/models/indorg_neural/full
DatetimeIndex(['2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')
01212022

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(92204, 36)
ind    68355
org    23849
Name: ind_org, dtype: int64
01222022
(69696, 36)
ind    56097
org    13599
Name: ind_org, dtype: int64
01232022
(65240, 36)
ind    52321
org    12919
Name: ind_org, dtype: int64
01242022
(93780, 36)
ind    70611
org    23169
Name: ind_org, dtype: int64
01252022
(93242, 36)
ind    69848
org    23394
Name: ind_org, dtype: int64
01262022

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(83862, 36)
ind    62331
org    21531
Name: ind_org, dtype: int64
01272022
(89356, 36)
ind    67875
org    21481
Name: ind_org, dtype: int64
01282022
(84748, 36)
ind    64218
org    20530
Name: ind_org, dtype: int64
01292022
(62737, 36)
ind    50479
org    12258
Name: ind_org, dtype: int64
01302022
(58947, 36)
ind    46987
org    11960
Name: ind_org, dtype: int64
01312022
(93474, 36)
ind    70750
org    22724
Name: ind_org, dtype: int64

In [ ]:
df_new['ind_org'].value_counts()

## Ignore below this

In [ ]:
 p = "/content/drive/MyDrive/IDS 506/Project/IndivFiles/df_ind_12212021.csv"
 df_p = pd.read_csv(p, engine ='python')

In [ ]:
df_p.columns

Index(['Unnamed: 0', 'coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'quote_id', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_id', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified',
       'ind_org'],
      dtype='object')

In [ ]:
#df_p['user_id'].astype(str)

0         1.2833137872404603e+18
1                     15132414.0
2         1.3459171579813967e+18
3                     42290742.0
4                   2402357353.0
                   ...
101889              4376204315.0
101890    1.3839503608222228e+18
101891                73606144.0
101892     1.117887014953726e+18
101893               880308102.0
Name: user_id, Length: 101894, dtype: object

In [ ]:
len(df_p['user_id'].unique())
len(df_p['id'].unique())

101827

In [ ]:
df_p[['id', 'user_created_at',
       'user_id']].head(100)

                     id                 user_created_at       user_id
0   1473156753533517824  Wed Jul 15 08:14:00 +0000 2020  1.283314e+18
1   1473156832310935553  Mon Jun 16 09:09:46 +0000 2008  1.513241e+07
2   1473156817349799938  Mon Jan 04 02:17:24 +0000 2021  1.345917e+18
3   1473156547366641668  Sun May 24 22:03:38 +0000 2009  4.229074e+07
4   1473156739000193031  Sat Mar 22 00:28:06 +0000 2014  2.402357e+09
..                  ...                             ...           ...
95  1473157086494302208  Thu Mar 11 02:38:38 +0000 2021  1.369840e+18
96  1473157215020359685  Fri Oct 11 19:26:54 +0000 2013  1.954912e+09
97  1473156986715848707  Sun Jan 02 18:10:48 +0000 2011  2.332386e+08
98  1473157121680183298  Sun Apr 28 11:59:48 +0000 2013  1.386804e+09
99  1473156948451282946  Wed Sep 09 06:33:36 +0000 2020  1.303582e+18

[100 rows x 3 columns]

In [ ]:
df_p['user_id']= df_p['user_id'].apply(lambda x: '%.1f' % x)

In [ ]:
df_p[['id', 'user_created_at',
       'user_id']].head(100)

                     id                 user_created_at                user_id
0   1473156753533517824  Wed Jul 15 08:14:00 +0000 2020  1283313787240460288.0
1   1473156832310935553  Mon Jun 16 09:09:46 +0000 2008             15132414.0
2   1473156817349799938  Mon Jan 04 02:17:24 +0000 2021  1345917157981396736.0
3   1473156547366641668  Sun May 24 22:03:38 +0000 2009             42290742.0
4   1473156739000193031  Sat Mar 22 00:28:06 +0000 2014           2402357353.0
..                  ...                             ...                    ...
95  1473157086494302208  Thu Mar 11 02:38:38 +0000 2021  1369840083914874880.0
96  1473157215020359685  Fri Oct 11 19:26:54 +0000 2013           1954912118.0
97  1473156986715848707  Sun Jan 02 18:10:48 +0000 2011            233238623.0
98  1473157121680183298  Sun Apr 28 11:59:48 +0000 2013           1386803540.0
99  1473156948451282946  Wed Sep 09 06:33:36 +0000 2020  1303582033558597632.0

[100 rows x 3 columns]

In [ ]:
df_p['ind_org'].value_counts()

ind    101758
Name: ind_org, dtype: int64

In [ ]:
'''
import pandas as pd
date1 = '2021-11-21'
date2 = '2021-11-30'

date1 = datetime.datetime.strptime('11222021', '%m%d%Y')
date2 =  datetime.datetime.strptime('11302021', '%m%d%Y')

mydates = pd.date_range(date1, date2, freq='d')#.tolist()
print(mydates)
for d in pd.date_range(date1, date2, freq='d'):
  d_str = d.strftime("%m%d%Y")
  path = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/OutputFiles/tweet_" + d_str
  #print(type(d_str))
  print(path)

'''

  #print(d)
  #print(str(d))
'''
l =mydates.tolist()
s = str(l)
#print(type(s))
#print(s)
#print(s[0])
'''

In [ ]:
'''
import os

path = '/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/Exp_Dir1'

#os.makedirs(path, exist_ok=False)
isExist = os.path.exists(path)
if not isExist:
  
  # Create a new directory because it does not exist 
  os.makedirs(path)
  print("The new directory is created!")
#print("The new directory is created!")
'''

In [ ]:

'''
import re
import datetime

def datetime_to_str_date(dt):
    return re.sub(r'\T.+$','', dt.isoformat())

start_date = datetime.datetime.strptime('11222021', '%m%d%Y')
end_date =   datetime.datetime.strptime('01312022', '%m%d%Y')   # datetime.datetime.today()
num_of_days = (end_date - start_date).days

date_list = map(
        datetime_to_str_date, 
        [start_date + datetime.timedelta(days=x) for x in range(0, num_of_days)]
)

print(date_list)
'''