The tweets to be obtained are from 21st November 2021 to 31st January 2022. Filtered the tweet IDs of English tweets and store them in a txt file.These tweet IDs in a text file will be fed to a Tweet Hydration app to hydrate the app from Twitter.
Based on the given tweet IDs the Hydrator app generates the tweet files of csv format that can be used for analytics.

In [ ]:
import pandas as pd
import numpy as np
import gzip

In [ ]:
with gzip.open('2021-12-02_clean-dataset.tsv.gz') as f:

    df = pd.read_csv(f, sep='\t', header = None)

df.head()

C:\Users\abhij\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                     0           1         2     3             4
0             tweet_id        date      time  lang  country_code
1  1466271299139891202  2021-12-02  05:01:34    hi           NaN
2  1466271300100530177  2021-12-02  05:01:34    fr           NaN
3  1466271304668311555  2021-12-02  05:01:35   und           NaN
4  1466271307343884292  2021-12-02  05:01:36    en           NaN

In [ ]:
#df = pd.read_csv('2021-12-02_clean-dataset.tsv', sep='\t', header = None)

C:\Users\abhij\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df = df[df.iloc[:,3]=="en"]

In [ ]:
df.drop(df.index[0], inplace =True)

In [ ]:
df = df[0]

In [ ]:
df

5         1466271309172822017
6         1466271309667520517
7         1466271323370442757
10        1466271336163065860
12        1466271345071775746
                 ...
249323    1466633270741725184
249324    1466633271656153091
249326    1466633272788664323
249327    1466633274197872645
249328    1466633275825278976
Name: 0, Length: 138444, dtype: object

In [ ]:
df.isnull().sum()

0

In [ ]:
#np.savetxt(r'np.txt', df.values)
df.to_csv(r'tweet.txt', header=None, index=None, mode='a')

In [ ]:
ls

 Volume in drive C is Windows
 Volume Serial Number is AE55-5860

 Directory of C:\Users\abhij\OneDrive - University of Illinois at Chicago\UIC STUDY\Spring 2022\IDS 506\Proj

03/10/2022  10:42 PM    <DIR>          .
03/10/2022  10:42 PM    <DIR>          ..
03/10/2022  10:39 PM    <DIR>          .ipynb_checkpoints
12/05/2021  03:37 AM        12,147,528 2021-12-01_clean-dataset.tsv
03/09/2022  07:31 PM         2,567,637 2021-12-01_clean-dataset.tsv.gz
03/10/2022  10:34 PM         2,532,603 2021-12-02_clean-dataset.tsv.gz
03/10/2022  10:41 PM            10,190 Code_for_ingesting_and processing.ipynb
03/09/2022  07:44 PM         2,906,673 id_12012021.txt
03/09/2022  08:08 PM       481,263,035 tweet.jsonl
03/10/2022  10:42 PM         2,907,324 tweet.txt
03/09/2022  08:10 PM        87,495,458 tweet_12012021.csv
               8 File(s)    591,830,448 bytes
               3 Dir(s)  24,853,237,760 bytes free